.mosaic-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    width: 30rem;
    height:28rem ;
    align-content: center;
    justify-content: center;

}
.masaic-baseStyle{
    width:8.5rem;
    cursor: pointer;
    height: 8.4em;
    background-color:rgb(53, 215, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all  0.5s;
}
.icon{
    font-size: 6.8rem;
    font-weight: 100;
    
}
.Bottle{
    color: white;
}
.mosaic-drinks:hover{
    background: rgba(39, 187, 246, 0.963);
    
}
.masaic-baseStyle:hover{
    transform: scale(1.2);
    border-radius: 5px;
}