.cardSelectedProduct-container{
    height: 5rem;
    display: flex;
    align-content: center;
    border-top: 2px solid gray;
}
/*contenedor de img y nombre del producto*/
.cardSelectedProdudct-imgAndNameConainer{
    display: flex;
    width: 49%;
    padding: 5px;
    align-items: center;
    overflow: hidden;    
}

/*clase ligado a img */
.cardSelectedProduct-imgContainer-img{
    width: 128px;
    height: 70px;
    object-fit: contain ;
    object-position: center;
    border: 10px;
}
/*contenedor del precio*/
.cerdSelectedProduct-detailsContainerPrice{
    width: 12.4%;
    display: flex;
    justify-content: center;
    align-self: center;
}
/*cantidad contenedor*/
.cardSelectedProduct-quanityContainer{
    width:12.4%;
    display: flex;
    justify-content: center;
    align-self: center;
}
/*contenedor del total */
.cardSelectedProduct-totalContainer{
    width:12.4%;
    display: flex;
    justify-content: center;
    align-self: center;
}
/* contenedor de bote de basura*/
.cardSelectedProduct-trashContainer{
    width:12.4%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.cardSelectedProduct-trashContainer :hover{
    color: red;
    transform: scale(1.1);
    cursor: pointer;
}
