.ItemsContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: wheat;
    border-radius: 10px ;
    padding-left: 15px;
    
}
/*barra descriptiva de listConainer*/
.ItemsContainer .descriptons-topBar{
    display: flex;
    padding: 2px;
    margin-bottom: 2px;
    
}
/*<p> producto*/
.ItemsContainer .descriptons-topBar :nth-child(1){
    flex-grow: 7.2;
    font-size: 1.8rem;
}
/*<p> precio*/
.ItemsContainer .descriptons-topBar :nth-child(2){
    flex-grow: 1;
    font-size: 1.8rem;
}
/*<p> cantidad*/
.ItemsContainer .descriptons-topBar :nth-child(3){
    flex-grow: 1;
    font-size: 1.8rem;
}
/*<p> total*/
.ItemsContainer .descriptons-topBar :nth-child(4){
    flex-grow: 1;
    font-size: 1.8rem;
}
/*<p> eliminar*/
.ItemsContainer .descriptons-topBar :nth-child(5){
    flex-grow: 1;
    font-size: 1.8rem;
}


/*contenedor list y total */
.listConatiner{
    width: 100%;
    height: 83%;
    overflow: auto;
    align-self: center;
    border-left: 1px solid gray;
}
.total{
    font-size: 2.5rem;
    margin-left: 10px;
    border-top: 2px solid rgb(34, 136, 245);
}
